



/*======================
    PROJECTS GALLERY
=======================*/

.project {
  @include corners;
  height: 200px;
  margin: 10px;
  background-color: $gray-0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mq('sm') {
    width: 45%;
    height: calc(25vw * 1.4);
    max-height: 450px;
  }
  box-shadow: 0px 5px 5px 5px rgba($gray-5, .3);

}

.project h3 {
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgba($gray-0, 0.7);
  padding: 10px;
}

.one {
  font-family: 'Sacramento', cursive;
  background-image:url('../images/riff.png');
  @include mq('sm') {
    background-position: 50% 0;
  }
}

.two {
  font-family: 'Playfair Display', serif;
  background-image:url('../images/todo.png');
  background-position: 48% 0%;
}

.one, .two {
  font-size: 2em;
  repeat: no-repeat;
  background-size: cover;
}

.test {
  border: solid 1px red;
  margin-top: 50px;
  width: 100%;
  display: block;
  order: 1;
}