.container {
  min-height: 100vh;
  margin: 0 auto;
  @include mq('sm') {
    width: 90%;
  }
  @include mq('lg') {
    width: 80%;
  }
  position: relative;
}

.intro {
  grid-area: intro;
  @include txt-padding;
  display: flex;
  flex-direction: column;
  @include mq('med') {
    
    
    position: sticky;
    top: 50px;
    height: 700px;
    width: 300px;;
  }
}

.intro p {
  font-size: 1em;
  margin: $mrg auto;
  padding: 0 1em;
}

.intro p span {
  font-size: $h3;
  color: black;
  display: block;
  color: $brand;
}

.title {
  display: block;
  width: 100%;
}

.container h3 {
  margin-bottom: 30px;
}

.portfolio {
  position: relative;
  margin: $mrg 0;
  grid-area: portfolio;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  @include mq('sm') {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.experience {
  margin: 0;
  padding: 0 1em;
  grid-area: experience;
}

.job h4 {
      text-align: left;
}

.jobs h3 {
  margin-bottom: 0;
}
.job-title {
  margin-bottom: -10px;
  margin-top: 50px;
}
.job-spec {
  grid-row: 1 / -1;
}

