.container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
                        "intro"
                        "nav"
                        "skills"
                        "portfolio"
                        "experience";
  @include mq('med') {
    grid-gap: 25px;
    grid-template-rows: 0px repeat(3, minmax(400px, auto));
    grid-template-columns: 1.5fr 3fr;
    grid-template-areas:
                          "nav nav"
                          "intro skills"
                          "intro portfolio"
                          "intro experience";
  }
}


.jobs {
  display: grid;
  grid-template-columns: repeat(1fr 3fr);
}

.title-skills {
  grid-column-start: 1;
  grid-column-end: -1;
}
