.icon {
  max-height: 90%;
  width: 20%;
  //@include corners;
}

/*======================
      SKILLS GRID
=======================*/

//Container
.skills {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

//Cards
.card {
  margin: 15px; 
  margin: 15px;
  min-height: 75px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
  perspective: 500;
  border-radius: 10px;
  

  //media queries for stacking cards
  @media screen and (max-width: 991px) {
    width: calc((100% / 2) - 30px);
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &:hover {
    .card__inner {
      transform: perspective(250px) translate3d(0, 0, 15px);
    }
  }

  &__inner {
    width: 100%;
    height: 75px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 5px 5px 5px rgba($gray-5, .3);
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: $bg-light;
    color: $text-dark;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in-out;
    &:after {
      transition: all 0.3s ease-in-out;
    }
    
  }

  //Expander
  &__expander {
    transition: all 0.2s ease-in-out;
    background-color: $brand;
    width: 100%;
    position: relative;
    border-radius: 10px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: $text-light;
  }
  &.is-collapsed {
    .card__inner {
      &:after {
        content: "";
        opacity: 0;
      }
    }
    .card__expander {
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      margin-top: 0;
      opacity: 0;
    }
  }

  &.is-expanded {
    .card__inner {
      background-color: $bg-light;
      &:after{
        content: "";
        opacity: 1;
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        bottom: -30px;
        left: calc(50% - 15px);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $brand;
      }
    }
    .card__expander {
      max-height: 1000px;
      min-height: 200px;
      overflow: visible;
      margin-top: 30px;
      opacity: 1;
      padding: 10px;
    }
    &:hover {
      .card__inner {
        transform: scale(1)

      }
    }
  }
  
  &.is-inactive {
    .card__inner {
      pointer-events: none;
      opacity: 0.5;
    }
    
    &:hover {
      .card__inner {
        transform: scale(1);
      }
    }
  }
}

//Expander Widths

//when 3 cards in a row
@media screen and (min-width: 992px) {

  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }
  .card:nth-of-type(3n+4) {
    clear: left;
  }
  .card__expander {
    width: calc(300% + 60px);
  }

}

//when 2 cards in a row
@media screen and (min-width: 768px) and (max-width: 991px) {

  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(2n+3) {
    clear: left;
  }
  .card__expander {
    width: calc(200% + 30px);
  }

}

