.icon {
 
  width: 20%;
  //@include corners;
}

.skills {
  margin: $mrg 0 0 0;
  perspective: 500px;
  grid-area: skills;
  padding: 0 25px 25px 25px;
  @include mq('sm') {
    padding: 0 20px 20px 20px;
  }
}

.skill {
  text-align: center;
  margin: 0 auto;
  display: flex;
  // flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 75px;
  width: 100%;
  box-shadow: 0px 5px 5px 5px rgba($gray-5, .3);
  transform: translateZ(0px);
  transition-property: box-shadow transform;
  transition: .5s;
  @include corners;
  &:hover {
    transition: .5s;
    transition-property: box-shadow transform;
    transform: translateZ(15px);
    box-shadow: 0px 5px 12px 12px rgba($gray-5, .3);
  }
}
