.icon {
  max-height: 90%;
  width: 20%;
  //@include corners;
}

// skills flex container
// .skills {
//   padding: 15px;
//   display: flex;
//   flex-flow: row wrap;

// }

// // skill items
// .card {
  
//   margin: 15px;
//   height: 75px;
//   width: 100%;
//   transition: all .2s ease-out;
  
//   @include corners;
//   //Media Querys for icon stacking
//   @include mq('sm') {
//     width: calc((100% / 2) - 30px);
//   }
//   @include mq('med') {
//     width: calc((100% / 3) - 30px);
//   }
//   box-shadow: 0px 5px 5px 5px rgba($gray-5, .3);


//   &:hover {
//     transition: .5s;
//     transition-property: box-shadow transform;
    
//   }

//   &__inner{
//     width: 100%;
//     padding: 10px;
//     text-align: center;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     cursor: pointer;
//     position: relative;

//     transition: all 0.2s ease-in-out;
//     &:after {
//       transition: all 0.2s ease-in-out;
//     }
//   }

//   .fa {
//     width: 100%;
//     margin-top: .25em;
//   }

//   //EXPANDER
//   &__expander {
//     transition: all .3s ease-in-out;
//     background-color: $brand;
//     width: 100%;
//     position: relative;

//     display: flex;
//     justify-content: center;
//     align-items: center;
    

//     text-transform: uppercase;
//     color: $text-light;
//     font-size: 1.5em;

//     .fa {
//       font-size: 0.75em;
//       position: absolute;
//       top: 10px;
//       right: 10px;
//       cursor: pointer;
      
//       &:hover {
//         opacity: 0.9;
//       }
//     }

//   }

//   &.is-collapsed {

//     .skill__inner {
//       &:after {
//         content: "";
//         opacity: 0;
//       }
//     }
//     .skill__expander {
//       max-height: 0;
//       min-height: 0;
//       overflow: hidden;
//       margin-top: 0;
//       opacity: 0;
//     }
//   }

//   &.is-expanded {

//     .skill__inner {
//       background-color: $brand;
//       //speech triangle
//       &:after {
//         content: "";
//         opacity: 1;
//         display: block;
//         height: 0;
//         width: 0;
//         position: absolute;
//         bottom: -30px;
//         left: calc(50% - 15px);
//         border-left: solid 15px transparent;
//         border-right: solid 15px transparent;
//         border-bottom: solid 15px $brand;
//       }

      
//     }

//     .skill__expander {
//       max-height: 1000px;
//       min-height: 200px;
//       overflow: visible;
//       margin-top: 30px;
//       opacity: 1;
//     }
//     &:hover {
//       .skill__inner {
//         transform: scale(1);
//       }
//     }
//   }

//   &.is-inactive {
//     .skill__inner {
//       pointer-events: none;
//       opacity: 0.5;
//     }
//     &:hover {
//       .skill__inner {
//         background-color: tomato;
//         transform: scale(1);
//       }
//     }
//   }

// }

// // EXPANDER WIDTHS
// // When 3 skills
// @media screen and (min-width: 992px) {

//   .skill:nth-of-type(3n+2) .skill__expander {
//     margin-left: calc(-100% - 30px);
//   }
//   .skill:nth-of-type(3n+3) .skill__expander {
//     margin-left: calc(-200% - 60px);
//   }
//   .skill:nth-of-type(3n+4) {
//     clear: left;
//   }
//   .skill__expander {
//     width: calc(300% + 60px);
//   }

// }
// // When 2 skills
// @media screen and (min-width: 768px) and (max-width: 991px) {

//   .skill:nth-of-type(2n+2) .skill__expander {
//     margin-left: calc(-100% - 30px);
//   }
//   .skill:nth-of-type(2n+3) {
//     clear: left;
//   }
//   .skill__expander {
//     width: calc(200% + 30px);
//   }

// }

//Grid Container
.skills {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

//Cards
.card {
  margin: 15px; 
  margin: 15px;
  min-height: 75px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
  

  //media queries for stacking cards
  @media screen and (max-width: 991px) {
    width: calc((100% / 2) - 30px);
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &:hover {
    .card__inner {
      background-color: $brand;
      transform: scale(1.05);
    }
  }

  &__inner {
    width: 100%;
    height: 75px;
    padding: 5px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    position: relative;
    cursor: pointer;
    
    background-color: $gray-5;
    color: $text-light;
    text-transform: uppercase;
    text-align: center;

    transition: all 0.2s ease-in-out;
    
    &:after {
      transition: all 0.3s ease-in-out;
    }
    
  }

  //Expander
  &__expander {
    transition: all 0.2s ease-in-out;
    background-color: $brand;
    width: 100%;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    color: $text-light;
    
    .fa {
      font-size: 0.75em;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      
      &:hover {
        opacity: 0.9;
      }
    }
  }

  &.is-collapsed {
    
    .card__inner {
      &:after {
        content: "";
        opacity: 0;
      }
    }
    .card__expander {
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      margin-top: 0;
      opacity: 0;
    }
  }

  &.is-expanded {

    .card__inner {
      background-color: $brand;
      
      &:after{
        content: "";
        opacity: 1;
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        bottom: -30px;
        left: calc(50% - 15px);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid tomato;
      }
      
      //folder open icon
      .fa:before {
        content: "\f115";
      }
    }

    .card__expander {
      max-height: 1000px;
      min-height: 200px;
      overflow: visible;
      margin-top: 30px;
      opacity: 1;
    }

    &:hover {
      .card__inner {
        transform: scale(1);
      }
    }
  }
  
  &.is-inactive {
    .card__inner {
      pointer-events: none;
      opacity: 0.5;
    }
    
    &:hover {
      .card__inner {
        background-color: $gray-5;
        transform: scale(1);
      }
    }
  }
}


//Expander Widths

//when 3 cards in a row
@media screen and (min-width: 992px) {

  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }
  .card:nth-of-type(3n+4) {
    clear: left;
  }
  .card__expander {
    width: calc(300% + 60px);
  }

}

//when 2 cards in a row
@media screen and (min-width: 768px) and (max-width: 991px) {

  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(2n+3) {
    clear: left;
  }
  .card__expander {
    width: calc(200% + 30px);
  }

}

