.profile-pic {
  display: block;
  margin: 70px auto 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  @include mq('med') {
    width: 150px;
    height: 150px;
    margin: $mrg auto 0;
  }
}
