
nav {
  width: 70%;
    li {
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 2.4;
      letter-spacing: 1.5px;
      a {
        text-decoration: none;
        color: $bg-light;
      }
    
  }
}

.nav-menu {
  text-decoration: none;
  color: $bg-light;
  background-color: $brand;
  margin: 0;
  left: 0;
  top: 50px;
  transition: transform .3s ease-out;
  transform: translate3d(0, -250px, 0);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  list-style: none;
  padding: 0;
  z-index: 1;
  @include mq('med') {
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 210px;
  }
}

.burger {
  position: fixed;
  @include mq('med') {
    display: none;
  }
  z-index: 60;
  right: 15px;
  top: 10px;
  height: 30px;
  width: 25px;
  div {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: $bg-light;
  }
}

.ul-active {
  transform: translate3d(0, 0, 0);
}