* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $bg-light;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: $h1;
  font-weight: 800;
  margin: 50px auto 0;
  color: $gray-0;
}

span {
  color: $gray-0;
  font-size: $p;
  margin: auto;
}

h3 {
  text-align: center;
}
