* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $gray-0;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: $h1;
  margin: auto;
  color: $gray-0;
}

span {
  color: $gray-0;
  font-size: $p;
  margin: auto;
}

h3 {
  text-align: center;
  margin: $mrg auto;
}
